@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

.App{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(9%2c 88%2c 113%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c497.24C110.216%2c491.978%2c225.295%2c553.369%2c324.238%2c504.525C425.478%2c454.547%2c497.788%2c348.95%2c523.223%2c238.948C547.124%2c135.58%2c471.811%2c39.348%2c456.057%2c-65.571C440.442%2c-169.567%2c474.883%2c-277.992%2c431.237%2c-373.669C379.669%2c-486.714%2c312.965%2c-628.283%2c190.308%2c-648.13C64.523%2c-668.483%2c-15.04%2c-503.439%2c-136.703%2c-465.567C-255.184%2c-428.685%2c-403.228%2c-510.929%2c-499.994%2c-433.248C-596.108%2c-356.09%2c-591.332%2c-209.536%2c-607.793%2c-87.387C-624.121%2c33.775%2c-642.494%2c159.072%2c-594.997%2c271.726C-546.847%2c385.929%2c-460.659%2c492.542%2c-344.766%2c536.467C-234.374%2c578.307%2c-117.921%2c502.87%2c0%2c497.24' fill='%2307465a'%3e%3c/path%3e%3cpath d='M1440 1577.518C1546.236 1576.284 1609.12 1457.82 1705.517 1413.153 1823.945 1358.278 2004.62 1400.9279999999999 2067.708 1286.664 2129.39 1174.946 2019.949 1042.787 1976.1950000000002 922.907 1941.067 826.659 1896.91 739.054 1837.401 655.65 1772.003 563.992 1716.997 454.577 1612.363 412.985 1504.9180000000001 370.27599999999995 1385.594 404.946 1273.017 431.308 1154.584 459.04200000000003 1012.0260000000001 469.254 943.348 569.648 874.636 670.091 933.818 805.519 933.774 927.216 933.7370000000001 1029.232 898.893 1134.9859999999999 943.1120000000001 1226.921 987.0409999999999 1318.254 1087.68 1360.937 1170.49 1419.366 1257.358 1480.659 1333.692 1578.7530000000002 1440 1577.518' fill='%230b6a88'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-card{
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
}

::placeholder{
  color: black !important;
}